:root {
    --swarthmore: darkred;
    --swarthmore-secondary: #9f3333;
    --button-color: rgb(154, 57, 57);

}

.btn {
    background-color: var(--button-color);
    border-color: white;
    margin: 5px;

}

.btn:hover { 
    background-color: var(--button-color);
    border-color: black;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

#navigation {
    display: flex;
    max-width: 100%;
    background-color: var(--swarthmore);
    padding: 5px;
    margin: 5px;
}

#quest-button {
    display: flex;
    justify-content: center;
    max-width: 33%;
    flex-grow: 1;
}

#take-a-walk-button {
    display: flex;
    justify-content: center;
    max-width: 33%;
    flex-grow: 1;
}

#account-info {
    display: flex;
    justify-content: center;
    max-width: 34%;
    flex-grow: 1;
}

#take-a-walk {
    padding-left: 30vw;
    padding-right: 30vw;
}

div {
    align-content: center;
}

#dropdown-menu {
    margin: 5px;
    padding: 5px;
}

#input-miles {
    margin: 5px;
    padding: 5px;
}

#take-a-walk-section {
    background-color: var(--swarthmore-secondary);
}

#exercise-info {
    margin-bottom: 15px;
}

.route-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#map-img {
    border: 5px solid black;
}
