h1 {
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

#navigation {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    background-color: darkred;
    padding: 5px;
}

#take-a-walk {
    padding-left: 10vw;
    padding-right: 10vw;
}

#take-a-walk-button {
    text-align: center;
}

div {
    align-content: center;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#dropdown-menu {
    margin: 5px;
    padding: 5px;
}

#input-miles {
    margin: 5px;
    padding: 5px;
}